[Unit]
Description=Runs veth cleanup every day at 2AM
After=docker.service
Requires=docker.service

[Timer]
OnCalendar=02:00
Persistent=true

[Install]
WantedBy=local.target

[X-Fleet]
Global=true
