[Unit]
Description=Runs veth cleanup every day at 21:00 UTC
After=docker.service
Requires=docker.service

[Timer]
OnCalendar=*-*-* 21:00:00
Persistent=true

[Install]
WantedBy=local.target

[X-Fleet]
Global=true
